---
- name: Match sections
  pattern_match:
    regex: "interface\\s+\\w+\\/.+"
    match_greedy: yes
    match_all: yes
  register: section

- name: Match keys values
  pattern_group:
    - name: Match interface 
      pattern_match:
        regex: "interface\\s+(\\w+\\/.+)"
        content: "{{ item }}"
      register: interface

    - name: Match vlan number
      pattern_match:
        regex: "switchport\\s+access\\s+vlan\\s+(\\d+)"
        content: "{{ item }}"
      register: vlan_num

    - name: Match mode trunk
      pattern_match:
        regex: "switchport\\s+mode\\s+(trunk)"
        content: "{{ item }}"
      register: trunk_state

  loop: "{{ section }}"
  register: int_data

- name: Generate json data structure
  json_template:
    template:
      - key: interface
        value: "{{ item.interface.matches.0 }}"
      - key: vlan
        value: "{{ item.vlan_num.matches.0 }}"
      - key: trunk
        value: "{{ item.trunk_state.matches.0 == 'trunk' }}"

  loop: "{{ int_data }}"

  export: True
  export_as: "list"
  register: int_vlan

